
@{
    Layout = null;
}

<h3>Mvc Proje Kampi</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Adi</th>
        <th>Aciqlama</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Tehsil</td>
        <td>Aciqlama etdik</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Idman</td>
        <td>Aciqlama etdik</td>
        <td>True</td>
    </tr>

</table>